/*==================================
Extra Css
==================================*/
img {
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.navbar-nav>li.dropdown>a.nav-link::after,
.navbar-nav>li.dropdown .dropdown-toggle::after {
    right: -15px;
}

.navbar-brand {
    display: block !important;
}

.mix-tab ul li,
.tab-simple ul li {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0;
}

.spinner {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 90;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.purchase-btn-envato {
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 9;
    width: 50px;
    height: 50px;
    z-index: 100;
}

.purchase-btn-envato a {
    z-index: 100;
    position: relative;
}

.sub-title,
.dropdown-item,
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 400
}

.list-bullate li {
    font-weight: 500
}

.dropdown-item {
    font-size: 14px;
    font-weight: 500
}

.purchase .btn-buy {
    padding: 8px 20px;
    padding-right: 30px;
    border-radius: 40px;
    color: var(--uc-white-color);
    font-weight: 500;
    display: flex;
    align-items: center;
}

.purchase img {
    width: 30px;
}

.demo-item .demo-bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-color: #f4f4f4;
    background-position: center top;
    transition: background-position .6s linear, box-shadow .3s
}

.demo-item a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.demo-item .demo-title {
    font-weight: 500;
    font-family: var(--uc-primary-font);
    color: var(--uc-dark-color);
    font-size: 18px;
    text-align: center;
}

.filter-none {
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.follow-vertical a {
    color: limegreen;
}

.tab-style-3 .tab-filter-nav li.mixitup-control-active {
    background-color: powderblue;
}

@media screen and (max-width: 1199px) {
    .purchase .btn-buy {
        padding: 12px 25px;
    }
    .purchase img {
        display: none;
    }
}